.fotos{
    padding: 20px;
    width: 300px;
    height: 250px;
    display: flex; 
    flex-direction: column;
    
}

.foto{
    padding: 20px;
    width: 300px;
    height: 250px; 
}
.foto0{
    padding: 20px;
    width: 300px;
    height: 250px; 
}

.foto1{
    padding: 20px;
    width: 300px;
    height: 250px; 
}

.foto2{
    padding: 20px;
    width: 300px;
    height: 250px; 
}

.foto3{
    padding: 20px;
    width: 300px;
    height: 250px; 
}

.foto4{
    padding: 20px;
    width: 300px;
    height: 250px; 
}

.foto5{
    padding: 20px;
    width: 300px;
    height: 250px; 
}

.foto6{
    padding: 20px;
    width: 300px;
    height: 250px; 
}
.foto{
    padding: 20px;
    width: 300px;
    height: 250px; 
}

